.dropdown-tarkov {
    min-height: 66px;
    background-color: var(--background);
    border-left: 1px solid var(--border-color);
    font-size: 28px;
    color: #fff;
    font-family: "Bender", serif;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    border-radius: 0;
}

.dropdown-tarkov:active,
.dropdown-tarkov:focus,
.dropdown-tarkov:hover {
    box-shadow: none;
    outline: none !important;
    color: #fff;
    background-color: var(--background);
}

.dropdown-toggle {
    font-weight: 800;
    color: var(--text-color);
}

.dropdown-toggle:hover,
.dropdown-toggle:active,
.dropdown-toggle:focus {
    color: #fff;
    filter: brightness(90%);
}

.dropdown-toggle::after {
    content:">";
    vertical-align: 0;
    transform: rotate(90deg);
    margin-left: 1rem;
    border: 0;
}

.dropdown-menu {
    border-radius: 10px;
}

.dropdown-item {
    color: #fff;
}

.rowDifficulty{
    width: 100%;
}