.white-text{
    font-family: FontTarkov;
    color: #7E7055;
    font-size: 30px;
    text-shadow: black 2px 0 5px;
    text-shadow: black 0px 0px 5px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(0, 0, 0, 0.45);
}

.Difficulty{
    margin-top: 11%;
}

.dropdown-tarkov{
    color: black !important;
    background-color :#7E7055 !important;
    border-color: #7E7055 !important;
    font-family: FontTarkov;
    box-shadow: black 0px 0px 5px;
}
