.boxSentence {
    text-align: left;
    border-radius: 10px;
    background-color: var(--background);
    border: 1px solid var(--border-color);
}

.Sentence{
    display: grid;
    row-gap: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    font-family: "Bender", serif;
    text-transform: uppercase;
}

.Sentence p {
    margin-bottom: 0;
}

.Sentence .tarkov-text:not(:empty)::before {
    content:"X";
    display: inline-block;
    margin-right: 0.5rem;
    vertical-align: 1px;
    width: 33px;
    height: 33px;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.6;
    color: #fff;
}

.Sentence .tarkov-text:not(:empty):nth-child(1)::before {
    content:"1";
}

.Sentence .tarkov-text:not(:empty):nth-child(3)::before {
    content:"2";
}

.boxSentence .tarkov-text {
    font-size: 24px;
    letter-spacing: 0.04em;
}

.tarkov-text-random,
.tarkov-text-defi{
    padding-left: 43px;
    font-size: 18px;
}

.tarkov-text-random:not(:empty)::before,
.tarkov-text-defi:not(:empty)::before {
    content:"+ ";
}

.tarkov-text-defi{
    color: #ffe437;
}

.tarkov-text-random{
    color: var(--primary);
}

.cadenas-simple{
    height: 25px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.cadenas-normal{ 
    height: 25px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.cadenas-difficile{
    height: 15px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.cadenas-hardcore{
    height: 15px;
    margin-bottom: 5px;
    margin-left: 10px;
}
