.App {
  text-align: center;
  width: 100%;  
}

.App-logo {
  max-width: 100%;  
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

#root {
  width: 100%;
}

.phrase-Challenge{
  margin-top: 3%;
  color: #ffffff;
  font-size: 40px;
}

.list-challenge{
  color: #ffffff;
  font-size: 20px;
}

footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  margin-top: 5%;
  background-color:rgba(204, 204, 204, 0.25);
}
.textFooter{
  margin: auto;
  color: white;
}
