.App {
  text-align: center;
  width: 100%;  
}

.App-logo {
  max-width: 100%;  
}


.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

.navbar{
  width: 100%;
  height: 5%;
  background-color:rgba(0, 0, 0, 0.40);
}

.btn-link-custom,.btn-link-custom:focus{
  text-transform: uppercase;
  color: #7E7055 !important;
  text-shadow: black 2px 0 5px;
  font-family: FontTarkov;
  box-shadow: none !important;
  background: none !important;
  border: none !important;
  margin-bottom: 5px;
}

.text-modal{
  font-family: FontTarkov;
}

main{
  margin-top: 10%;
}

.boxSentenceDifficulty{
  margin-top: 8%;
  padding-bottom: 3%;
  padding-top: 3%;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );
  border-radius: 10px;
}

#root {
  width: 100%;
}

.phrase-Challenge{
  margin-top: 2%;
  color: #ffffff;
  font-size: 40px;
}

.list-challenge{
  color: #ffffff;
  font-size: 20px;
}

.tarkov-text{
  text-transform:uppercase ;
  font-family: FontTarkov;
  color: #7E7055;
  font-size: 30px;
  text-shadow: black 2px 0 5px;
}

footer{
  border-top:solid black 1px;
  position: fixed;
  width: 100%;
  bottom: 0;
  margin-top: 5%;
  background-color:rgba(0, 0, 0, 0.25);
}
.textFooter{
  font-size: 10px;
  margin: auto;
  text-transform:uppercase ;
  font-family: FontTarkov;
  color: #7E7055;
  text-shadow: black 2px 0 5px;
}


